body {
  overflow-y: hidden;
}

.dispblck {
  display: block;
  margin: auto;
  align-content: center;
  text-align: center;
}

#sectionAdded {
  height: 25vh;
  overflow-y: scroll;
  scrollbar-width: none;
  display: none;
}

#sectionAvailable {
  height: 50vh;
  overflow-y: scroll;
  scrollbar-width: none;
  display: none;
}

#backButton {
  display: none;
  width: fit-content;
  margin-top: 0.5rem;
}
